<div class="contenedor-discos">
  <h1> {{discografia.artista}}</h1>
  <p class="disco-titulo">Titulo: {{discografia.titulo}}</p>
  <p class="disco-lanzamiento">Lanzamiento: {{discografia.lanzamiento}}</p>
  <img class="disco-tapa" src="{{discografia.tapa}}" />
</div>